@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
    color: var(--foreground);
    background: url('../public/images/bg.png') repeat fixed;
    background-color: var(--background); 
    background-size: 30px 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


